<span
  ><img src="assets/all-icon.jpeg" alt="all-icon" width="50" height="50" />
  <img src="assets/aberration.jpg" alt="aberration" width="50" height="50" />
  <img src="assets/beast.jpg" alt="beast" width="50" height="50" />
  <img src="assets/celestial.jpg" alt="celestial" width="50" height="50" />
  <img src="assets/construct.jpg" alt="construct" width="50" height="50" />
  <img src="assets/dragon.jpg" alt="dragon" width="50" height="50" />
  <img src="assets/elemental.jpg" alt="elemental" width="50" height="50" />
  <img src="assets/fey.jpg" alt="fey" width="50" height="50" />
  <img src="assets/fiend.jpg" alt="fiend" width="50" height="50" />
  <img src="assets/giant.jpg" alt="giant" width="50" height="50" />
  <img src="assets/humanoid.jpg" alt="humanoid" width="50" height="50" />
  <img src="assets/monstrosity.jpg" alt="monstrosity" width="50" height="50" />
  <img src="assets/ooze.jpg" alt="ooze" width="50" height="50" />
  <img src="assets/plant.jpg" alt="plant" width="50" height="50" />
  <img src="assets/undead.jpg" alt="undead" width="50" height="50" />
</span>
<form>
  <label for="mName">Monster Name</label>
  <input type="text" id="mName" name="mName" />
  <label for="challengeRating">Challenge Rating</label>
  <select name="challengeRating" id="challengeRating">
    <option value="asdf">asdf</option>
  </select>
</form>
